# Redis config overrides
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Receiver Connections
RECEIVER_RELAY_HOST=127.0.0.1
RECEIVER_RELAY_PORT=4000
RECEIVER_RETRANS_HOST=127.0.0.1
RECEIVER_RETRANS_PORT=5000

# Processor Servers
PROCESSOR_SOCKETIO_HOST=0.0.0.0
PROCESSOR_SOCKETIO_PORT=9100
PROCESSOR_TCP_RELAY_HOST=0.0.0.0
PROCESSOR_TCP_RELAY_PORT=9101
PROCESSOR_TCP_RETRANS_HOST=0.0.0.0
PROCESSOR_TCP_RETRANS_PORT=9102
